# Configuration file indicating which files have to be copied where
# Format
# SourceFile(relativ):TargetFile(relativ /home/admin):CreateTargetDirScript:PreUpdateScript:UpdateScript:PostUpdateScript:CopyWithRsync:
#
# Verzeichnis: ~admin/bin
caterva/CS_Steuerung/CS_SteuerungStarter.sh:bin/CS_SteuerungStarter.sh:NONE:NONE:NONE:NONE:YES:
caterva/CS_Steuerung/CS_Steuerung.sh:bin/CS_Steuerung.sh:NONE:PRE_caterva_CS_STRG.sh:NONE:POST_caterva_CS_STRG.sh:YES:
caterva/CS_Steuerung/CS_Steuerung.txt:bin/CS_Steuerung.txt:NONE:NONE:NONE:NONE:YES:
caterva/CS_Steuerung/CS_Steuerung_Hilfe.md:bin/CS_Steuerung_Hilfe.md:NONE:NONE:NONE:NONE:YES:
caterva/CS_Steuerung/CS_Steuerung_crontab:bin/CS_Steuerung_crontab:NONE:NONE:NONE:NONE:YES:
caterva/CS_Steuerung/CS_log-cleanup.sh:bin/CS_log-cleanup.sh:NONE:NONE:NONE:NONE:YES:
caterva/CS_Steuerung/CS_log-cleanup.conf:bin/CS_log-cleanup.conf:NONE:NONE:NONE:NONE:YES:
caterva/analysis/uli_Abfrage_Status.sh:bin/uli_Abfrage_Status.sh:NONE:NONE:NONE:NONE:YES:
caterva/analysis/uli_invoice_aktuell_online.sh:bin/uli_invoice_aktuell_online.sh:NONE:NONE:NONE:NONE:YES:
caterva/analysis/uli_invoice_Wirkungsgrad_online.sh:bin/uli_invoice_Wirkungsgrad_online.sh:NONE:NONE:NONE:NONE:YES:
caterva/analysis/BC_Check.sh:bin/BC_Check.sh:NONE:NONE:NONE:NONE:YES:
caterva/analysis/uli_ITCI1_laedt_nicht_mehr.sh:bin/uli_ITCI1_laedt_nicht_mehr.sh:NONE:NONE:NONE:NONE:YES:
caterva/analysis/BAT_WATCH.sh:bin/BAT_WATCH.sh:NONE:NONE:NONE:NONE:YES:
#
# Verzeichnis ~admin/registry
caterva/polMaxPV/polMaxPV.100:registry/polMaxPV.100:NONE:NONE:NONE:NONE:YES:
caterva/polMaxPV/polMaxPV.orig:registry/polMaxPV.orig:NONE:NONE:NONE:NONE:YES:
#
# Verzeichnis ~admin
caterva/misc/copyToNewSN.sh:copyToNewSN.sh:NONE:NONE:NONE:NONE:YES: