# Configuration file indicating which files have to be copied where
# Format
# SourceFile(relativ):TargetFile(absolut):CreateTargetDirScript:PreUpdateScript:UpdateScript:PostUpdateScript:CopyWithRsync:
#
pi/usr_local_bin/eth0_start_192_168_0_50.sh:/usr/local/bin/eth0_start_192_168_0_50.sh:NONE:NONE:UPD_eth0_start_192_168_0_50.sh:NONE:NO:
pi/var/caterva/scripts/copy_log.sh:/var/caterva/scripts/copy_log.sh:NONE:PRE_crontab_user_pi.sh:NONE:POST_crontab_user_pi.sh:YES:
pi/var/caterva/scripts/update_Pi.sh:/var/caterva/scripts/update_Pi.sh:NONE:PRE_crontab_user_pi.sh:NONE:POST_crontab_user_pi.sh:YES:
pi/var/caterva/scripts/update_Pi_and_Caterva.sh:/var/caterva/scripts/update_Pi_and_Caterva.sh:NONE:PRE_crontab_user_pi.sh:NONE:POST_crontab_user_pi.sh:YES:
pi/home_pi/bin/log-cleanup.conf:/home/pi/bin/log-cleanup.conf:NONE:NONE:NONE:NONE:YES:
pi/home_pi/bin/log-cleanup.sh:/home/pi/bin/log-cleanup.sh:NONE:PRE_crontab_user_pi.sh:NONE:POST_crontab_user_pi.sh:YES: