# Configuration file indicating which files have to be copied where
# Format
# SourceFile(relativ):TargetFile(relativ /home/admin):CreateTargetDirScript:PreUpdateScript:UpdateScript:PostUpdateScript:CopyWithRsync:
#
caterva/analysis/uli_Abfrage_Status.sh:bin/uli_Abfrage_Status.sh:NONE:NONE:NONE:NONE:YES:
caterva/analysis/uli_invoice_aktuell_online.sh:bin/uli_invoice_aktuell_online.sh:NONE:NONE:NONE:NONE:YES:
caterva/analysis/uli_invoice_Wirkungsgrad_online.sh:bin/uli_invoice_Wirkungsgrad_online.sh:NONE:NONE:NONE:NONE:YES:
caterva/analysis/BC_Check.sh:bin/BC_Check.sh:NONE:NONE:NONE:NONE:YES:
caterva/polMaxPV/polMaxPV.100:registry/polMaxPV.100:NONE:NONE:NONE:NONE:YES:
caterva/polMaxPV/polMaxPV.orig:registry/polMaxPV.orig:NONE:NONE:NONE:NONE:YES:
caterva/analysis/BAT_WATCH.sh:bin/BAT_WATCH.sh:NONE:NONE:NONE:NONE:YES:
caterva/CS_Steuerung/CS_SteuerungStarter.sh:bin/CS_SteuerungStarter.sh:NONE:NONE:NONE:NONE:YES:
caterva/CS_Steuerung/CS_Steuerung.sh:bin/CS_Steuerung.sh:NONE:PRE_caterva_CS_STRG.sh:NONE:POST_caterva_CS_STRG.sh:YES:
caterva/CS_Steuerung/CS_Steuerung.txt:bin/CS_Steuerung.txt:NONE:NONE:NONE:POST_caterva_CS_STRG_txt.sh:YES:
caterva/CS_Steuerung/CS_Steuerung_Hilfe.txt:bin/CS_Steuerung_Hilfe.txt:NONE:NONE:NONE:POST_caterva_CS_STRG_Hilfe_txt.sh:YES: