#P_in_W_chargeStandbyThreshold:				Charging only, when "P_in_W_chargeStandbyThreshold" 'exceeded'
#P_in_W_chargeStandbyThreshold_hyst:       	Charging routine will stop, when "P_in_W_chargeStandbyThreshold_hyst" has been reached
#P_in_W_dischargeStandbyThreshold:			Discharging immediately, when "P_in_W_dischargeStandbyThreshold" exceeded
#P_in_W_dischargeStandbyThreshold_delay:	Discharging only, when "P_in_W_dischargeStandbyThreshold_delay" has been exceeded > "counter_standby_to_discharge_max"
#P_in_W_dischargeStandbyThreshold_hyst:		Discharging routine will stop, when "P_in_W_dischargeStandbyThreshold_hyst" has been reached
#
#SoC_max:									Soc ... max. up to charging will be possible; shall not exceed 90; as this is the limit of other caterva parameters
#SoC_charge:								SoC ... enable re-charging (ChargedFlag is reset to "0")
#SoC_discharge:								SoC ... set minimum value of SoC; beyond that only <<charging>> is possible; limit by Caterva: Soc.stVal=20% -> results in "SocDC.stVal about 23%"
#SoC_min:									SoC ... force charging (ChargedFlag is set to "-1") until "SoC_discharge" is reached, e.g. 5% less than SoC_discharge.
#SoC_err:									SoC ... verify wrong entries in log, - below that value (should be set in range of 1 ... 5)
#
#counter_discharge_to_standby_max:			max. time (in sec.) until dis/charging is possible prior to swtiching to standby
#counter_standby_to_discharge_max:			max. time (in sec.) observing in standby until discharging is enabled
#counter_increment:							time of one loop (while) in sec
#
#system_initialization:						required system init:  "1112" or "112"
#
#ECS3_configuration:						ECS3 Configuration: "PVHH" ... PVHH meter; "GRID" ... Grid meter
#
#
#P_in_W_chargeStandbyThreshold ... P_in_W_chargeStandbyThreshold_hyst ... 0
#P_in_W_dischargeStandbyThreshold ... P_in_W_dischargeStandbyThreshold_delay ... P_in_W_dischargeStandbyThreshold_hyst ... 0
#SoC_max ... SoC_charge ... SoC_discharge ... SoC_min ... SoC_err
#
#P_in_W_chargeStandbyThreshold;#P_in_W_chargeStandbyThreshold_hyst;#P_in_W_dischargeStandbyThreshold;#P_in_W_dischargeStandbyThreshold_delay;#P_in_W_dischargeStandbyThreshold_hyst;#SoC_max;#SoC_charge;#SoC_discharge;#SoC_min;#SoC_err;#counter_discharge_to_standby_max;#counter_charge_to_standby_max;#counter_standby_to_discharge_max;#counter_increment;#system_initialization;#ECS3_Configuration
#October-March:   -1500;-1000;2500;1500;1000;90;80;23;18;0;120;60;4;1112;PVHH;
#April-September: -4000;-1500;1500;750;500;90;80;23;18;0;120;60;4;1112;PVHH;
-1500;-1000;2500;1500;1000;90;80;23;18;0;120;60;4;1112;PVHH;
